<style>
    #footer{
        background-color: darkslategray;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 30px;
    }

    div {
        color: white;
    }
</style>

<div id="footer">
    <pre>
    <img src="../assets/img_339206.png" width="50px" height="50px" style="margin-left: 100px;"> <img src="../assets/R.png" width="50px" height="50px" style="margin-left: 300px;"> <img src="../assets/schedule.png" width="50px" height="50px" style="margin-left: 250px;">
      Ubicación: Calle Mauricio Alvarez 6,                Contáctenos: (809)226-5099            Estámos abiertos de Lunes a Domingo
        Santiago De Los Caballeros 51000                                                          12 (Mediodía) - 12 (Medianoche)
    </pre>
</div>