
<body>
    
   <table style="width:100%">
   <tr>
   <th style="font-size:120%;">ENTRADAS </th>
   </tr>

   <tr>
   <b><td>Pan Con Tomate - RD$265.00 </td></b>
   </tr>
   <tr>
  <td>Jamón serrano, huevo, rúcula, alioli y aceite de pimentón.  </td>
   </tr>
   </table>
   
<br>
   <table style="width:100%">
   <tr>
   <b><td >Bombones de Yuca - RD$365.00 </td></b>
   </tr>
   <tr>
 <td>Boliño de yuca crocante relleno de queso roquefort, alcaparra y cebolla en salsa de mamey cítrica. </td>
   </tr>
   </table>
   
<br>

   <table style="width:100%">
   <tr>
   <b><td>Croquetas de Pollo - RD$365.00</td></b>
   </tr>
   <tr>
   <td>Crujientes y suaves acompañadas de alioli casero. </td>
   </tr>
   </table>
   
   <br>

   <table style="width:100%">
       <tr>
       <b><td >Croquetas de Jamón Ibérico - RD$390.00 </td></b>
       </tr>
       <tr>
       <td>Crujientes croquetas de jamón ibérico acompañadas de alioli casero. </td>
       </tr>
       </table>
       
       <br>
       
   <table style="width:100%">
           <tr>
           <b><td >Provolone a la Plancha - RD$415.00 </td></b>
           </tr>
           <tr>
           <td>Provolone a la plancha con ensalada de rúcula al pesto y tocineta crocante. </td>
           </tr>
           </table>
           
           <br>
           
           <table style="width:100%">
               <tr>
               <b><td> Raviolis Taberna - RD$425.00</td></b>
               </tr>
               <tr>
               <td>Rellenos de plátano maduro, manzanas verdes acarameladas, tocineta y envueltos en salsa 4 quesos. </td>
               </tr>
               </table>
               
               <br>
                <table style="width:100%">
               <tr>
               <b><td> Chorizo al Vino - RD$430.00 </td></b>
               </tr>
               <tr>
               <td>Salteados al vino tinto y pan artesanal. </td>
               </tr>
               </table>
               
               <br>
               
               <table style="width:100%">
               <tr>
               <b><td> Empanadas de Yuca Artesanal - RD$495.00 </td></b>
               </tr>
               <tr>
               <td>Masa crocante de yuca artesanal, rellena de ropa vieja, queso manchego y alioli de chipotle. </td>
               </tr>
               </table>
               
               <br>
               
               <table style="width:100%">
               <tr>
               <b><td> Dip de Espinaca - RD$445.00</td></b>
               </tr>
               <tr>
               <td>Con pan pita horneado. </td>
               </tr>
               </table>
               
               <br>
               
               <table style="width:100%">
               <tr>
               <b><td> Raviolis de Cochinillo - RD$490.00</td></b>
               </tr>
               <tr>
               <td>Rellenos de cochinillo confitado, queso de cabra y cebollas caramelizadas en salsa de salvia y tocineta crocante. </td>
               </tr>
               </table>
               
               
               <br>
               
               <table style="width:100%">
               <tr>
               <b><td> Berenjena Parmesana - RD$475.00</td></b>
               </tr>
               <tr>
               <td>Mozzarella fresca y grana padano. </td>
               </tr>
               </table>
               
               <br>
               
               <table style="width:100%">
               <tr>
               <b><td> Dumplings de Camarones - RD$540.00 </td></b>
               </tr>
               <tr>
               <td>Rellenos de camarones, terminadas a la plancha sobre salsa hindú y toques de albahaca. </td>
               </tr>
               </table>
               
               <br>
               
               <table style="width:100%">
               <tr>
               <b><td> Chicharrón de Yuca - RD$495.00 </td></b>
               </tr>
               <tr>
               <td>Yuca suflada con tartar fresco de salmón, en emulsión acevichada. </td>
               </tr>
               </table>
               
               <br>
               
               <table style="width:100%">
               <tr>
               <b><td> Carpaccio de Res - RD$540.00 </td></b>
               </tr>
               <tr>
               <td>Finas laminadas de res con vinagreta de parmesano, rúcula y quinoa acompañada de tostadas de yuca.
</td>
               </tr>
               </table>
               
               <br>
               
               <table style="width:100%">
               <tr>
               <b><td> Tartare de Atún - RD$565.00 </td></b>
               </tr>
               <tr>
               <td>Pequeños trozos de tuna envueltos en salsa nikei, aguacate y tostadas a las dinas hierbas.
</td>
               </tr>
               </table>
          
          <br>
          
          <table style="width:100%">
               <tr>
               <b><td> Satay de Tenderloin - RD$575.00 </td></b>
               </tr>
               <tr>
               <td>Brochetas de terderloin terminados en parrilla con chimichurri de la casa.
</td>
               </tr>
               </table>
          
          
          <br>
          
          <table style="width:100%">
               <tr>
               <b><td> Pulpo a la Brasa - RD$850.00 </td></b>
               </tr>
               <tr>
               <td>Importado, hecho a la parilla, alioli de botija y una fresca ensalada de rúcula y tomate cherry.
</td>
               </tr>
               </table>
               
               <br>
               
               <table style="width:100%">
               <tr>
               <b><td> Pulpo al Carbón - RD$875.00 </td></b>
               </tr>
               <tr>
               <td>Importado, terminado a la brasa, yuca al carbón, papa coctel, hongo portobello, ensaladita de rúcula y alioli anticuchera.
</td>
               </tr>
               </table>
              
<br>
<br>



<table style="width:100%">
   <tr>
   <th style="font-size:120%;">CRUDOS </th>
   </tr>

   <tr>
   <b><td>Tiradito de Salmón - RD$545.00 </td></b>
   </tr>
   <tr>
  <td>Corte tipo sashimi, marinado con limón, soya y aromas de ajonjolí, acompañado de una fresca ensalada, aguacate y caviar de salmón.  </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Ceviche Mexicano - RD$625.00 </td></b>
   </tr>
   <tr>
  <td>CAl mejor estilo del chile pescado marinado con cilantro, chiles verdes acompañado de tostadas. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Ceviche Clásico - RD$625.00</td></b>
   </tr>
   <tr>
  <td>Al estilo peruano con aguacate, batata quemada a la naranja y chips de plátanos. </td>
   </tr>
   </table>
   
   <br>
   <br>
   
   
   
    <table style="width:100%">
   <tr>
   <th style="font-size:120%;">SOPAS Y CALDOS </th>
   </tr>

   <tr>
   <b><td>Crema de Calabaza - RD$350.00 </td></b>
   </tr>
   <tr>
  <td>Con virutas de jamón. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Sopa de Lenteja - RD$395.00</td></b>
   </tr>
   <tr>
  <td>De cocción larga, con chorizo y costilla de cerdo ahumada. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Cocido - RD$525.00</td></b>
   </tr>
   <tr>
  <td>Concentrado de sabores y aromas, un clásico de la casa.</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Cazuela de Mariscos - RD$690.00</td></b>
   </tr>
   <tr>
  <td>Sopa de mariscos acompañado de tostadas a las finas hierbas</td>
   </tr>
   </table>
   
   <br>
   <br>
   
   
   
   <table style="width:100%">
   <tr>
   <th style="font-size:120%;">ENSALADAS </th>
   </tr>

   <tr>
   <b><td>Ensalada Taberna - RD$475.00 </td></b>
   </tr>
   <tr>
  <td>Mix de lechugas, rúcula, queso de cabra y cebollas caramelizadas. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Ensalada Taberna - RD$625.00</td></b>
   </tr>
   <tr>
  <td>Mix de lechugas, tomates, aguacate, camarones y reducción balsámica.</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Ensalada de Quinoa, Pollo y Pesto - RD$725.00</td></b>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Burrata a mi Manera - RD$725.00</td></b>
   </tr>
   <tr>
  <td>Cremosa burrata con capas de tomate seco y mermelada de fresa, rúcula y pesto de tomate.</td>
   </tr>
   </table>
   
   <br>
   <br>
   
   
   
   <table style="width:100%">
   <tr>
   <th style="font-size:120%;">TABLAS DE FIAMBRES Y QUESOS </th>
   </tr>

   <tr>
   <b><td>Tabla Mixta - RD$690.00 </td></b>
   </tr>
   <tr>
  <td>Queso manchego y embutidos españoles. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Tabla de Quesos - RD$790.00</td></b>
   </tr>
   <tr>
  <td>Parmesano, azul, manchego, camembert, cabra, con frutas a la parrilla, miel y pan campesino.</td>
   </tr>
   </table>
   
   <br>
   <br>
   
   
   
   <table style="width:100%">
   <tr>
   <th style="font-size:120%;">ARROCES </th>
   </tr>

   <tr>
   <b><td>Risotto de Hongos Porcini - RD$650.00 </td></b>
   </tr>
   <tr>
  <td>Sobre carpaccio de res. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Arroz Meloso - RD$675.00</td></b>
   </tr>
   <tr>
  <td>Mezcla perfecta entre chorizo y camarones, pimientos asados, aguacate y maduros asados.</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Risotto del Campo - RD$750.00</td></b>
   </tr>
   <tr>
  <td>Risotto al limón con medallón de filete de res en salsa de champiñones. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Zocarrat Oriental - RD$725.00</td></b>
   </tr>
   <tr>
  <td>Concón de arroz oriental, setas a la parrilla, tenderloin al wok envueltos en salsa de ostión, huevo onzen crocantes y texturas de aguacate. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Paella de Mariscos - RD$1,200.00(Mínimo 2 personas)</td></b>
   </tr>
   <tr>
  <td>Clásica valenciana, hecha con los mariscos mas frescos. </td>
   </tr>
   </table>
   
   <br>
   <br>
   
   
   
   <table style="width:100%">
   <tr>
   <th style="font-size:120%;">PASTAS</th>
   </tr>

   <tr>
   <b><td>Raviolis de Pollo - RD$475.00</td></b>
   </tr>
   <tr>
  <td>Raviolis de pollo en salsa mamey y lluvia de parmesano. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Raviolis de Ricotta y Espinaca - RD$495.00</td></b>
   </tr>
   <tr>
  <td>Clásica valenciana, hecha con los mariscos mas frescos. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Pasta Taberna - RD$545.00</td></b>
   </tr>
   <tr>
  <td>Jamón serrano, trufa, crema de leche y rúcula. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Pasta con Pesto y camarones - RD$650.00</td></b>
   </tr>
   <tr>
  <td>Pasta a elección, con salsa de albahaca y parmesano, acompañada de camarones. </td>
   </tr>
   </table>
   
   <br>
   <br>
   
   
    <table style="width:100%">
   <tr>
   <th style="font-size:120%;">PESCADOS Y MARISCOS</th>
   </tr>

   <tr>
   <b><td>Tuna al Oporto - RD$690.00</td></b>
   </tr>
   <tr>
  <td>A la parrilla, escabeche de vegetales al jerez y puré de papas al queso azul.</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Salmon, Brasa y Miso - RD$885.00</td></b>
   </tr>
   <tr>
  <td>Salmon a la parrilla con salsa de miso, coco y miel, acompañado de arroz estilo marroquí. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Satay de Chillo - RD$890.00</td></b>
   </tr>
   <tr>
  <td>Brochetas de chillo marinadas con mantequilla japonesa, terminadas en parrilla con chimichurri y ensalada asiática. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Salmon al Sartén - RD$895.00</td></b>
   </tr>
   <tr>
  <td>Sobre cama de espinacas, papas baby, portobellos y reducción de mirin y jengibre. </td>
   </tr>
   </table>
   
   <br>
   
    <table style="width:100%">
   <tr>
   <b><td>Pesca taberna - RD$925.00</td></b>
   </tr>
   <tr>
  <td>Chillo a la parrilla en salsa escabechada y tacu tacu mediterráneo. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Chillo en Salsa de Camarones - RD$925.00</td></b>
   </tr>
   <tr>
  <td>Acompañado de risotto de azafrán. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Langostinos a la Parrilla - RD$1,350.00</td></b>
   </tr>
   <tr>
  <td>Frescos langostinos a la parrilla, con aliño de ajo y perejil. </td>
   </tr>
   </table>
   
   <br>
   <br>
   
   
   
   <table style="width:100%">
   <tr>
   <th style="font-size:120%;">CARNES Y AVES</th>
   </tr>

   <tr>
   <b><td>Pechuga de Pollo Rellena - RD$575.00</td></b>
   </tr>
   <tr>
  <td>De jamón serrano y mozzarella en salsa cuatro quesos.</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Solomillo de Cerdo al Wok - RD$595.00</td></b>
   </tr>
   <tr>
  <td>Cerdo salteado con vegetales al wok, salsa de soya, plátanos maduros y huevo. </td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Filete de Cerdo Strogonoff - RD$595.00</td></b>
   </tr>
   <tr>
  <td>Acompañado de raviolis de batata, mantequilla y salvia.</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Solomillo Taberna - RD$615.00</td></b>
   </tr>
   <tr>
  <td>Solomillo a la parrilla con mil hojas de papas acompañada a salsa de cochinillo y verduras al wok.</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Tenderloin - RD$825.00</td></b>
   </tr>
   <tr>
  <td>Salsa roquefort, mostaza, pimienta y hongos.</td>
   </tr>
   </table>
   
   <br>
   
    <table style="width:100%">
   <tr>
   <b><td>Filet Gratam - RD$875.00</td></b>
   </tr>
   <tr>
  <td>Medallones de filete de res a la parrilla en costra de quesos, con salsa roquefort acompañado de penne gratinado.</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Lacón de Cerdo Braseado - RD$990.00</td></b>
   </tr>
   <tr>
  <td>Con ensalada de vegetales encurtidos (Para Compartir).</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Flat Meat Chifero - RD$1,195.00</td></b>
   </tr>
   <tr>
  <td>A punto, acompañado de espinacas, salsa chifera y arroz oriental</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Ribeye Al Wok - RD$1,250.00</td></b>
   </tr>
   <tr>
  <td>Salteado al wok con vegetales. Acompañado de un arroz con portobellos.</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Ribeye 16 oz - RD$1,585.00</td></b>
   </tr>
   <tr>
  <td>Acompañado de risotto de papas trufadas y ensalada de rúcula silvestre.</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Ribeye Tomahawk 32 oz - RD$3,450.00</td></b>
   </tr>
   <tr>
  <td>Acompañado de papas baby y ensalada de rúcula silvestre.</td>
   </tr>
   </table>
   
   <br>
   <br>
   
   
   
   <table style="width:100%">
   <tr>
   <th style="font-size:120%;">GUARNICIONES </th>
   </tr>

   <tr>
   <b><td>*TODA LAS GUANICIONES* - RD$275.00</td></b>
   </tr>
       <tr>
  <td>Tostones al Ajillo y perejil</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
  <td>Puré de papa</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
  <td>Vegetales Salteados</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
  <td>Zuccini, Cebolla, Berenjena y Pimientos</td>
   </tr>
   </table>
  
  <br>
  
  <table style="width:100%">
   <tr>
  <td>Patatas Fritas</td>
   </tr>
   </table>
   
   <br>
   
    <table style="width:100%">
   <tr>
  <td>Puré de Yuca</td>
   </tr>
   </table>
   
<br>
   
    <table style="width:100%">
   <tr>
  <td>Papas a la Crema</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
  <td>Arroz Blanco</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
  <td>Risotto Parmesano</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
  <td>Risotto de Papa</td>
   </tr>
   </table>
   
   <br>
   <br>
   
   
   
   <table style="width:100%">
   <tr>
   <th style="font-size:120%;">ESPECIALIDADES DEL CHEF </th>
   </tr>
   </table>
<br>

<table style="width:100%">
   <tr>
   <th style="font-size:120%;">ENTRADAS</th>
   </tr>

   <tr>
   <b><td>Crema de puerro y bacon - RD$350.00
</td></b>
   </tr>
   <tr>
  <td>Crema ligera de puerros confitados, servida con bacon caramelizado y tostadita.
</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Louis tacos - RD$425.00</td></b>
   </tr>
   <tr>
  <td>Costillas laqueadas en miel asiática, envueltos en lechuga crocante, terminadas con puerro, ajonjolí y ajo crocante.
</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Salmon dos tiempos - RD$350.00</td></b>
   </tr>
   <tr>
  <td>En sashimi y tartare, marinados con yusu y pimientos ahumados, aguacate y caviar.
</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Kofia de cordero - RD$590.00</td></b>
   </tr>
   <tr>
  <td>Hechas de pierna de cordero, marinadas con especias y hierbas aromáticas, acompañada de yogurt estilo griego.
</td>
   </tr>
   </table>
   
   <br>
   
    <table style="width:100%">
   <tr>
   <b><td>Grilled octopus ceviche - RD$750.00</td></b>
   </tr>
   <tr>
  <td>Pulpo a la brasa marinado con soya, sésamo y limón, en salsa de pepino japonés, aguacate a la parrilla y quínoa crocante.
</td>
   </tr>
   </table>
   
   <br>
   <br>
   
   
   
   <table style="width:100%">
   <tr>
   <th style="font-size:120%;">PLATOS FUERTES</th>
   </tr>

   <tr>
   <b><td>Canelones de short ribs - RD$595.00</td></b>
   </tr>
   <tr>
  <td>Rellenos de ropa vieja de short ribs, cubiertos en salsa de hongos, alioli de ajo y tocineta crocante.
</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Obssobuco de braseado - RD$675.00</td></b>
   </tr>
   <tr>
  <td>Cocido al porto y acompañado de ñoquis en salsa de pesto y trufa.
</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Costillas de cerdo - RD$675.00</td></b>
   </tr>
   <tr>
  <td>Cocidas a baja temperatura, a la parrilla y laqueadas en bbq tailandesa, puré de cepa de apio y ensalada de estación.
</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Salmon cirico - RD$890.00</td></b>
   </tr>
   <tr>
  <td>Con camarones a la parrilla, texturas de coliflor y salsa de cítricos con ensaladita tibia de zucchini y rúcula.
</td>
   </tr>
   </table>
   
   <br>
   
   <table style="width:100%">
   <tr>
   <b><td>Farro al pesto genoves - RD$925.00</td></b>
   </tr>
   <tr>
  <td>Farro guisado en clásico guiso manchego, acompañado de pesca del día envuelto en salsa holandesa a la provenzal.
</td>
   </tr>
   </table>
   
   
   </body>ß